<footer class="footer position--relative m--auto">
    <nav class="footer__wrapper bg--black grid gap--34 pt--24 pb--24 pl--32 pr--32">
        <div class="footer__container flex flex--column gap--34">
            <a href="/TopMinerals/">
                <img loading="lazy" width="70" height="27.097" class="footer__logo" src="./img/global/header_logo.svg" alt="Логотип Top Minerals">
            </a>

            <ul class="footer__nav flex flex--wrap gap--10">
                <li>
                    <a href="/TopMinerals/" class="footer__nav-link font--secondary font--size-12 font--bold text--uppercase color--green">Головна</a>
                </li>

                <li>
                    <a href="/TopMinerals/about-us.html" class="footer__nav-link font--secondary font--size-12 font--bold text--uppercase color--green">Про нас</a>
                </li>

                <li>
                    <a href="/TopMinerals/news.html" class="footer__nav-link font--secondary font--size-12 font--bold text--uppercase color--green">Новини</a>
                </li>

                <li>
                    <a href="/TopMinerals/contacts.html" class="footer__nav-link font--secondary font--size-12 font--bold text--uppercase color--green">Контакти</a>
                </li>

                <li>
                    <a href="/TopMinerals/products.html" class="footer__nav-link font--secondary font--size-12 font--bold text--uppercase color--green">Продукти</a>
                </li>
            </ul>
        </div>

        <div class="footer__links flex flex--column gap--34">
            <div class="grid gap--22">
                <ul class="footer__list flex flex--column gap--14">
                    <li>
                        <a href="#" class="footer__links-item font--secondary font--size-14 font--normal color--white">Публічний договір оферти</a>
                    </li>

                    <li>
                        <a href="#" class="footer__links-item font--secondary font--size-14 font--normal color--white">Політика конфідеційності</a>
                    </li>
                </ul>
            </div>

            <a href="/TopMinerals/" class="footer__links-item font--secondary font--size-14 font--normal color--white">© TopMinerals, 2025</a>
        </div>
    </nav>
</footer>