<header id="header" class="header position--fixed bg--black pt--10 pb--10 pl--24 pr--24 flex flex--align-center flex--justify-between">
    <a href="/TopMinerals/" class="flex">
        <img loading="lazy" width="66" height="25.548" src="./img/global/header_logo.svg" alt="Логотип Top Minerals">
    </a>

    <div id="burger" class="header__burger-wrapper flex flex--align-center flex--justify-center">
        <svg width="28" height="28" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round">
                <g transform="translate(12.000000, 29.000000)" fill-rule="nonzero" stroke-width="4">
                    <path class="header__burger-line" id="line-middle" d="M13,20 L63,20" stroke="#0E0E0E" stroke-linejoin="round"></path>
                    <path class="header__burger-line" id="line-top" d="M63,1 L13.347708,1 C4.449236,1 0,4.16666667 0,10.5 C0,16.8333333 4.449236,20 13.347708,20 L59,20" stroke="#0E0E0E"></path>
                    <path class="header__burger-line" id="line-bottom" d="M42,68 L75,68 C81.6666667,67 85,63.8333333 85,58.5 C85,53.1666667 81.6666667,50 75,49 L30,49" transform="translate(-13.000000, -29.000000)" stroke="#0E0E0E"></path>
                </g>
            </g>
        </svg>
    </div>
</header>

<nav id="mobile-menu" class="header__nav position--fixed bg--grey">
    <ul class="flex flex--column">
        <li class="mb--32">
            <a class="font--primary font--size-28 font--semi color--white text--uppercase" href="/TopMinerals/">Головна</a>
        </li>

        <li class="flex flex--column gap--16 mb--16">
            <div id="menu" class="flex flex--align-center gap--8">
                <span class="font--primary font--size-28 font--semi color--white text--uppercase">TOP Minerals</span>

                <img id="menu-chevron" loading="lazy" width="40" height="20" src="./img/icons/icon_chevron_down.svg" class="header__nav-chevron" alt="Іконка випадаючого списку TOP Minerals">
            </div>

            <ul id="submenu" class="header__nav-submenu flex flex--column gap--10">
                <li class="header__nav-submenu-item">
                    <a href="/TopMinerals/about-us.html" class="font--primary font--size-18 font--semi color--white text--uppercase">Про нас</a>
                </li>

                <li class="header__nav-submenu-item">
                    <a href="#" class="font--primary font--size-18 font--semi color--white text--uppercase">Новини</a>
                </li>

                <li class="header__nav-submenu-item">
                    <a href="#" class="font--primary font--size-18 font--semi color--white text--uppercase">Патенти</a>
                </li>
            </ul>
        </li>

        <li class="mb--32">
            <a href="/TopMinerals/products.html" class="font--primary font--size-28 font--semi color--white text--uppercase">Продукти</a>
        </li>

        <li>
            <a class="font--primary font--size-28 font--semi color--white text--uppercase" href="/TopMinerals/contacts.html">Контакти</a>
        </li>
    </ul>
</nav>