.products {
    &__about {
        overflow-x: hidden;
        padding-top: 100px;
        margin-right: -16px;
        padding-right: 16px;

        &::before {
            content: '';
            background-image: url('../img/global/global_animation.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            right: 0;
            top: 16px;
            width: 166px;
            height: 222px;
            z-index: -1;
            opacity: .4;
            overflow-y: visible;
            transform: rotate(-60deg);
            pointer-events: none;

            @media (min-width: 1024px) {
                width: 450px;
                height: 450px;
                top: -40px;
            }
        }

        @media (min-width: 1024px) {
            padding-top: 150px;
            margin-right: 0;
            padding-right: 80px;
            padding-left: 80px;
            margin-bottom: 86px;
            overflow-x: clip;

            &-title {
                @include font(56);
            }

            &-subtitle {
                @include font(24);
            }

            &-text {
                @include font(20);
            }

            &-container {
                gap: 64px;
            }
        }

        @media (min-width: 1440px) {
            padding-right: 120px;
            padding-left: 120px;
        }
    }
}