<section class="category__hero position--relative">
    <div class="category__hero-wrapper bg--green pt--24 pb--24 pl--10 pr--10 grid gap--24">
        <h1 class="category__hero-title font--primary font--size-32 font--semi color--black text--uppercase">Ґрунтомодифікуючі кліматично орієнтовані рідкі добрива</h1>

        <div class="category__hero-container grid gap--24">
            <figure class="category__hero-img-wrapper flex flex--justify-center flex--align-center position--relative mb--16">
                <img loading="lazy" width="336" height="232" class="category__hero-img position--relative" src="./img/sections/main/section-products/slider-3/slide_3_1.webp" alt="Ґрунтомодифікуючі кліматично орієнтовані рідкі добрива">
            </figure>

            <div class="category__hero-container-text grid gap--24">
                <p class="category__hero-text font--secondary font--size-16 font--normal color--black">Зі збільшенням кількості внесених добрив їхня ефективність згідно із законом спадної віддачі поступово знижується. Щоб забезпечити максимальну віддачу від удобрення, необхідно приділити увагу підготовці ґрунту, яка значною мірою залежить від ґрунтомодифікуючих добрив.</p>

                <p class="category__hero-text font--secondary font--size-16 font--normal color--black">Наші кліматично орієнтовані рідкі добрива розроблені для покращення структури та поживного балансу ґрунту, що дозволяє значно підвищити ефективність внесення основних добрив та зменшити їхні витрати.</p>
            </div>
        </div>

        <a href="/TopMinerals/products.html" class="grid">
            <span class="category__hero-btn btn btn--transparent flex gap--10 pt--16 pb--16 pl--24 pr--24 font--size-12 font--bold font--secondary color--black text--uppercase flex flex--align-center flex--justify-center">
                <span>Переглянути каталог</span>
                <img loading="lazy" width="15" height="12" class="category__hero-btn-icon" src="./img/icons/icon_arrow_right_black.svg" alt="Іконка кнопки детальніше">
            </span>
        </a>
    </div>
</section>