<section class="category__info position--relative">
    <div class="category__info-wrapper grid gap--32">
        <div class="category__info-content grid gap--24">
            <h2 class="category__info-title font--size-28 font--primary font--semi text--uppercase color--white fade--in">Рекомендації щодо внесення</h2>

            <p class="category__info-text font--secondary font--size-16 font--normal color--white fade--in">Норма внесення залежить від рівня родючості ґрунту та його забезпеченості макро- та мікроелементами:</p>

            <ul class="category__info-list grid gap--16">
                <li class="category__info-list-item position--relative font--normal font--size-16 font--secondary color--white fade--in"><strong>Дуже низька забезпеченість</strong> (піщані, слабко дернові ґрунти, оглеєні ґрунти): <br> <strong>До 100 л/га</strong></li>

                <li class="category__info-list-item position--relative font--normal font--size-16 font--secondary color--white fade--in"><strong>Низька забезпеченість</strong> (дерново-підзолисті, чорноземи на карбонатних породах): <br> <strong>До 80 л/га</strong></li>

                <li class="category__info-list-item position--relative font--normal font--size-16 font--secondary color--white fade--in"><strong>Середня забезпеченість</strong> (чорноземи опідзолені, темно-каштанові ґрунти): <br> <strong>До 60 л/га</strong></li>

                <li class="category__info-list-item position--relative font--normal font--size-16 font--secondary color--white fade--in"><strong>Достатня забезпеченість</strong> (чорноземи звичайні, реградовані, лучно-чорноземні ґрунти): <br> <strong>До 40 л/га</strong></li>
            </ul>

            <figure class="category__info-img-wrapper position--relative fade--in">
                <img loading="lazy" width="210" height="320" class="category__info-img position--relative" src="./img/sections/category/sections/image_info.webp" alt="Іконка рослини в грунті">
            </figure>

            <p class="category__info-text font--normal font--size-16 font--secondary color--white fade--in">В цілому норма внесення, в залежності від завдань які стоять перед агрономом господарства, може коливатися від 20 до 200 літрів на гектар.</p>
        </div>

        <div class="category__info-background lazy-bg hidden fade--in" data-bg="./img/sections/category/sections/image_info.webp"></div>
    </div>
</section>