<section class="category__compound position--relative grid gap--32">
    <h2 class="category__compound-title font--semi font--size-28 font--primary color--white text--uppercase fade--in">Склад та переваги ґрунтомодифікуючих добрив</h2>

    <div class="category__compound-wrapper grid gap--24">
        <article class="category__compound-card bg--black pt--24 pb--24 pl--16 pr--16 grid gap--24 fade--in">
            <h3 class="category__compound-card-title font--secondary font--size-16 font--bold color--white fade--in">Азотний компонент (до 15%)</h3>

            <p class="font--secondary font--size-16 font--normal color--white fade--in">Сприяє активному росту рослин та засвоєнню інших елементів.</p>
        </article>

        <article class="category__compound-card bg--black pt--24 pb--24 pl--16 pr--16 grid gap--24 fade--in">
            <h3 class="category__compound-card-title font--secondary font--size-16 font--bold color--white fade--in">Гумінові комплекси (до 6%)</h3>

            <p class="font--secondary font--size-16 font--normal color--white fade--in">Підвищують родючість, стимулюють розвиток кореневої системи.</p>
        </article>

        <article class="category__compound-card bg--black pt--24 pb--24 pl--16 pr--16 grid gap--24 fade--in">
            <h3 class="category__compound-card-title font--secondary font--size-16 font--bold color--white fade--in">Органічні складові (до 10%)</h3>

            <p class="font--secondary font--size-16 font--normal color--white fade--in">Містять полісахариди, амінокислоти, гумати, що покращують вологоутримуючі властивості ґрунту.</p>
        </article>

        <article class="category__compound-card bg--black pt--24 pb--24 pl--16 pr--16 grid gap--24 fade--in">
            <h3 class="category__compound-card-title font--secondary font--size-16 font--bold color--white fade--in">Мінеральні елементи (фосфор – 1-3%, калій – 2-5%)</h3>

            <p class="font--secondary font--size-16 font--normal color--white fade--in">Збільшують доступність поживних речовин.</p>
        </article>
    </div>
</section>