<section class="category__products position--relative grid gap--32">
    <div class="category__products-wrapper position--relative grid gap--24 fade--in">
        <button type="button" aria-label="Попередній слайд" class="category__products-carousel-nav category__products-carousel-nav--prev bg--black position--absolute disabled"></button>
        <button type="button" aria-label="Наступний слайд" class="category__products-carousel-nav category__products-carousel-nav--next bg--black position--absolute"></button>

        <div class="category__products-carousel position--relative flex flex--column flex--align-center m--auto">
            <div class="category__products-carousel-wrapper">
                <div class="category__products-carousel-track flex gap--16">
                    <div class="category__products-carousel-slide flex flex--justify-center flex--align-center flex--column bg--black pt--28 pb--24 pl--28 pr--28 gap--22">
                        <span class="color--white font--secondary font--bold font--size-16 text--center">4-16-4 Налив/Єврокуб</span>

                        <div class="category__products-carousel-bg bg--green position--relative">
                            <div class="category__products-carousel-slide-img lazy-bg position--absolute" data-bg="./img/sections/main/section-products/slider-1/slide_1_1.webp"></div>
                        </div>

                        <a href="#" class="category__products-carousel-link bg--white grid grid--align-end flex--align-center flex--justify-center">
                            <img loading="lazy" width="15" height="12" src="./img/icons/icon_arrow_right_black.svg" alt="Іконка посилання">
                        </a>
                    </div>

                    <div class="category__products-carousel-slide flex flex--justify-center flex--align-center flex--column bg--black pt--28 pb--24 pl--28 pr--28 gap--22">
                        <span class="color--white font--secondary font--bold font--size-16 text--center">4-10-10 Налив/Єврокуб</span>

                        <div class="category__products-carousel-bg bg--green position--relative">
                            <div class="category__products-carousel-slide-img lazy-bg position--absolute" data-bg="./img/sections/main/section-products/slider-1/slide_1_2.webp"></div>
                        </div>

                        <a href="#" class="category__products-carousel-link bg--white grid grid--align-end flex--align-center flex--justify-center">
                            <img loading="lazy" width="15" height="12" src="./img/icons/icon_arrow_right_black.svg" alt="Іконка посилання">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="category__products-carousel-dots flex flex--align-center flex--justify-center gap--8 fade--in"></div>

    <a href="/TopMinerals/products.html" class="category__products-carousel-btn grid fade--in">
        <span class="btn bg--green flex gap--10 pt--16 pb--16 pl--24 pr--24 font--size-12 font--bold font--secondary color--black text--uppercase flex flex--align-center flex--justify-center">
            <span>Всі продукти</span>

            <img loading="lazy" width="15" height="12" src="./img/icons/icon_arrow_right_black.svg" alt="Іконка кнопки читати далі">
        </span>
    </a>
</section>