<section class="category__benefits grid gap--24">
    <h2 class="category__benefits-title font--semi font--size-28 font--primary color--white text--uppercase fade--in">Ключові переваги</h2>

    <ul class="category__benefits-list flex flex--column gap--24">
        <li class="category__benefits-item pt--16 pb--16 pl--16 pr--16 bg--green flex flex--align-center gap--16 fade--in">
            <img loading="lazy" width="24" height="25" src="./img/icons/icon_checked_round.svg" alt="Іконка галочки">

            <p class="font--size-16 font--bold font--secondary color--black">Покращення іонообмінних властивостей грунту</p>
        </li>

        <li class="category__benefits-item pt--16 pb--16 pl--16 pr--16 bg--green flex flex--align-center gap--16 fade--in">
            <img loading="lazy" width="24" height="25" src="./img/icons/icon_checked_round.svg" alt="Іконка галочки">

            <p class="font--size-16 font--bold font--secondary color--black">Оптимізація водного балансу</p>
        </li>

        <li class="category__benefits-item pt--16 pb--16 pl--16 pr--16 bg--green flex flex--align-center gap--16 fade--in">
            <img loading="lazy" width="24" height="25" src="./img/icons/icon_checked_round.svg" alt="Іконка галочки">

            <p class="font--size-16 font--bold font--secondary color--black">Активізація мікрофлори грунту</p>
        </li>

        <li class="category__benefits-item pt--16 pb--16 pl--16 pr--16 bg--green flex flex--align-center gap--16 fade--in">
            <img loading="lazy" width="24" height="25" src="./img/icons/icon_checked_round.svg" alt="Іконка галочки">

            <p class="font--size-16 font--bold font--secondary color--black">Зниження потреби у традиційних мінеральних добривах</p>
        </li>

        <li class="category__benefits-item pt--16 pb--16 pl--16 pr--16 bg--green flex flex--align-center gap--16 fade--in">
            <img loading="lazy" width="24" height="25" src="./img/icons/icon_checked_round.svg" alt="Іконка галочки">

            <p class="font--size-16 font--bold font--secondary color--black">Збільшення рухливості елементів живлення</p>
        </li>
    </ul>
</section>