<section class="product__compound">
    <div class="product__compound-container flex flex--justify-center bg--black pt--24 pb--24 pl--16 pr--16">
        <figure class="product__compound-wrapper bg--green flex flex--align-center flex--justify-center position--relative m--auto hidden">
            <img loading="lazy" width="343" height="auto" class="product__compound-img position--absolute" src="./img/sections/product/section-hero/image_product.webp" alt="4-16-4 Налив/Єврокуб">
        </figure>

        <div class="flex flex--column gap--24">
            <h2 class="product__compound-title font--size-28 font--semi font--primary color--white text--uppercase fade--in">Хімічний склад</h2>

            <div class="product__compound-content grid gap--24">
                <div class="product__compound-chemical grid gap--24">
                    <span class="product__compound-subtitle text--center pt--4 pb--4 pl--16 pr--16 bg--grey font--size-16 font--bold font--secondary color--white fade--in">Елементи живлення</span>

                    <ul class="product__compound-list flex flex--align-center gap--16">
                        <li class="flex flex--align-center gap--8 fade--in">
                            <span class="product__compound-formula pt--6 pb--6 pl--10 pr--10 font--size-16 font--bold font--secondary color--black bg--green">N</span>
                            <span class="font--size-16 font--bold font--secondary color--white">4%</span>
                        </li>

                        <li class="flex flex--align-center gap--8 fade--in">
                            <span class="product__compound-formula pt--6 pb--6 pl--6 pr--6 font--size-16 font--bold font--secondary color--black bg--green">P₂O₅</span>
                            <span class="font--size-16 font--bold font--secondary color--white">16%</span>
                        </li>

                        <li class="flex flex--align-center gap--8 fade--in">
                            <span class="product__compound-formula pt--6 pb--6 pl--6 pr--6 font--size-16 font--bold font--secondary color--black bg--green">K₂O</span>
                            <span class="font--size-16 font--bold font--secondary color--white">4%</span>
                        </li>
                    </ul>
                </div>

                <div class="product__compound-info flex flex--align-baseline gap--24">
                    <div class="flex flex--column gap--24">
                        <span class="product__compound-subtitle text--center pt--4 pb--4 pl--16 pr--16 bg--grey font--size-16 font--bold font--secondary color--white fade--in">Органічні сполуки</span>

                        <span class="font--size-16 font--bold font--secondary color--white fade--in">40 г/л, у тому числі гумати</span>
                    </div>

                    <div class="flex flex--column gap--24">
                        <span class="product__compound-subtitle text--center pt--4 pb--4 pl--16 pr--16 bg--grey font--size-16 font--bold font--secondary color--white fade--in">Густина</span>

                        <span class="font--size-16 font--bold font--secondary color--white fade--in">1,2 кг/л</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>