<section class="product__hero grid gap--24 position--relative">
    <div class="product__hero-content grid gap--24">
        <h1 class="product__hero-title font--primary font--semi font--size-32 color--white text--uppercase">4-16-4 Налив/Єврокуб</h1>

        <h2 class="product__hero-subtitle font--primary font--semi font--size-18 color--white text--uppercase">Рідке комплексне добриво</h2>

        <figure class="product__hero-wrapper bg--green flex flex--align-center flex--justify-center position--relative m--auto">
            <img loading="lazy" width="343" height="auto" class="product__hero-img position--absolute" src="./img/sections/product/section-hero/image_product.webp" alt="4-16-4 Налив/Єврокуб">
        </figure>

        <p class="product__hero-text font--secondary font--normal font--size-20 color--white">Тут буде короткий опис Тут буде короткий опис Тут буде короткий опис Тут буде короткий опис Тут буде короткий опис</p>

        <a href="/TopMinerals/contacts.html" class="product__hero-btn btn text--uppercase font--secondary bg--green font--bold font--size-12 color--black flex flex--align-center flex--justify-center pt--16 pb--16 pl--24 pr--24">Дізнатись більше за дзвінком</a>
    </div>

    <figure class="product__hero-container bg--green flex flex--align-center flex--justify-center position--relative m--auto hidden">
        <img loading="lazy" width="343" height="auto" class="product__hero-img position--absolute" src="./img/sections/product/section-hero/image_product.webp" alt="4-16-4 Налив/Єврокуб">
    </figure>
</section>