<section class="products__about grid gap--64 position--relative">
    <div class="grid gap--24">
        <header class="grid gap--32">
            <h1 class="font--primary font--size-32 font--semi color--white text--uppercase">Продукти</h1>

            <h2 class="font--size-18 font--semi font--primary text--uppercase color--white">Наші мінеральні добрива – ефективні рішення для вашого врожаю</h2>
        </header>

        <p class="font--secondary font--size-16 font--normal color--white">Компанія ТОП МІНЕРАЛС пропонує широкий асортимент високоякісних мінеральних добрив, розроблених для покращення родючості ґрунтів та підвищення врожайності. Наші продукти виготовляються за запатентованими технологіями та підходять для різних культур і типів ґрунтів.</p>
    </div>
</section>