<section class="products__contact grid gap--24 position--relative">
    <div class="products__contact-wrapper grid gap--24">
        <header class="grid gap--32">
            <h2 class="products__contact-title fade--in color--white font--semi font--primary font--size-28 text--uppercase">Як обрати потрібне добриво?</h2>

            <p class="products__contact-text fade--in font--secondary font--size-16 font--normal color--white">Не знаєте, яке добриво найкраще підійде для вашого ґрунту та культури? Наші фахівці допоможуть вам визначити оптимальне рішення.</p>
        </header>

        <ul class="products__contact-list flex flex--column gap--8">
            <li class="flex flex--align-center gap--10 fade--in">
                <figure class="products__contact-item bg--green flex flex--align-center flex--justify-center flex--no-shrink">
                    <img alt="Телефон" height="11" loading="lazy" src="./img/icons/icon_phone.svg" width="12">
                </figure>

                <a class="products__contact-list-link color--light-grey font--size-16 font--normal font--secondary" href="tel:+380000000">+38 067 440 35 53</a>
            </li>

            <li class="flex flex--align-center gap--10 fade--in">
                <figure class="products__contact-item bg--green flex flex--align-center flex--justify-center flex--no-shrink">
                    <img alt="Електронна Пошта" height="8" loading="lazy" src="./img/icons/icon_mail.svg" width="10">
                </figure>

                <a class="products__contact-list-link color--light-grey font--size-16 font--normal font--secondary" href="mailto:office@topminerals.com.ua">office@topminerals.com.ua</a>
            </li>

            <li class="flex flex--align-center gap--10 fade--in">
                <figure class="products__contact-item bg--green flex flex--align-center flex--justify-center flex--no-shrink">
                    <img alt="Адреса" height="10" loading="lazy" src="./img/icons/icon_location.svg" width="8">
                </figure>

                <a class="products__contact-list-link color--light-grey font--size-16 font--normal font--secondary" href="https://www.google.com/maps?q=м.+Черкаси,+вул.+Смілянська,+23,+оф.+19" target="_blank">м. Черкаси, вул. Смілянська, 23, оф. 19</a>
            </li>
        </ul>

        <a href="/TopMinerals/contacts.html" class="products__contact-link fade--in btn text--uppercase font--secondary bg--green font--bold font--size-12 color--black flex flex--align-center flex--justify-center pt--16 pb--16 pl--24 pr--24 hidden">Замовити консультацію</a>
    </div>

    <div class="products__contact-img lazy-bg fade--in" data-bg="./img/sections/main/section-contact/image_contact.webp"></div>

    <a href="/TopMinerals/contacts.html" class="products__contact-btn btn text--uppercase font--secondary bg--green font--bold font--size-12 color--black flex flex--align-center flex--justify-center pt--16 pb--16 pl--24 pr--24">Замовити консультацію</a>
</section>