<section class="grid gap--16">
    <div class="products__cat-card bg--black pt--32 pb--32 pl--24 pr--24 flex flex--justify-between">
        <div class="grid gap--16">
            <h2 class="font--size-18 font--semi font--primary text--uppercase color--white">Рідкі комплексні добрива</h2>

            <img loading="lazy" class="products__cat-card-img" width="200" height="138" src="./img/sections/products/section-cat/image_product_1.webp" alt="Зображення продукту">
        </div>

        <a href="#" class="products__cat-link grid grid--align-end flex--align-center flex--justify-center flex--no-shrink bg--green">
            <img loading="lazy" width="12" height="10" src="./img/icons/icon_arrow_right_black.svg" alt="Іконка кнопки читати докладно">
        </a>
    </div>

    <div class="products__cat-card bg--green pt--32 pb--32 pl--24 pr--24 flex flex--justify-between">
        <div class="grid gap--16">
            <h2 class="font--size-18 font--semi font--primary text--uppercase color--black">КАС</h2>

            <img loading="lazy" class="products__cat-card-img" width="200" height="138" src="./img/sections/products/section-cat/image_product_1.webp" alt="Зображення продукту">
        </div>

        <a href="#" class="products__cat-link grid grid--align-end flex--align-center flex--justify-center flex--no-shrink bg--black">
            <img loading="lazy" width="12" height="10" src="./img/icons/icon_arrow_right.svg" alt="Іконка кнопки читати докладно">
        </a>
    </div>

    <div class="products__cat-card bg--white pt--32 pb--32 pl--24 pr--24 flex flex--justify-between">
        <div class="grid gap--16">
            <h2 class="font--size-18 font--semi font--primary text--uppercase color--black">Грунтомодифікуючі добрива</h2>

            <img loading="lazy" class="products__cat-card-img" width="200" height="138" src="./img/sections/products/section-cat/image_product_1.webp" alt="Зображення продукту">
        </div>

        <a href="#" class="products__cat-link grid grid--align-end flex--align-center flex--justify-center flex--no-shrink bg--green">
            <img loading="lazy" width="12" height="10" src="./img/icons/icon_arrow_right_black.svg" alt="Іконка кнопки читати докладно">
        </a>
    </div>

    <div class="products__cat-card bg--black pt--32 pb--32 pl--24 pr--24 flex flex--justify-between">
        <div class="grid gap--16">
            <h2 class="font--size-18 font--semi font--primary text--uppercase color--white">Мікродобрива кристалічні</h2>

            <img loading="lazy" class="products__cat-card-img" width="200" height="138" src="./img/sections/products/section-cat/image_product_2.webp" alt="Зображення продукту">
        </div>

        <a href="#" class="products__cat-link grid grid--align-end flex--align-center flex--justify-center flex--no-shrink bg--green">
            <img loading="lazy" width="12" height="10" src="./img/icons/icon_arrow_right_black.svg" alt="Іконка кнопки читати докладно">
        </a>
    </div>

    <div class="products__cat-card bg--green pt--32 pb--32 pl--24 pr--24 flex flex--justify-between">
        <div class="grid gap--16">
            <h2 class="font--size-18 font--semi font--primary text--uppercase color--black">Рідкі комплексні мікродобрива</h2>

            <img loading="lazy" class="products__cat-card-img" width="200" height="138" src="./img/sections/products/section-cat/image_product_3.webp" alt="Зображення продукту">
        </div>

        <a href="#" class="products__cat-link grid grid--align-end flex--align-center flex--justify-center flex--no-shrink bg--black">
            <img loading="lazy" width="12" height="10" src="./img/icons/icon_arrow_right.svg" alt="Іконка кнопки читати докладно">
        </a>
    </div>
</section>