<section class="news__hero grid gap--64 position--relative">
    <h1 class="news__hero-title font--size-32 font--semi font--primary text--uppercase color--white">Новини</h1>

    <div class="news__hero-wrapper grid gap--24">
        <article class="news__hero-card flex flex--column gap--8">
            <figure class="news__hero-image-wrapper mb--8">
                <img loading="lazy" width="343" height="252" class="news__hero-img" src="./img/sections/news/section-news/image_news_1.webp" alt="Зображення вихованців дитячого футбольного клубу FC VAMPRO">
            </figure>

            <time datetime="2024-12-24" class="font--secondary font--normal font--size-16 color--light-grey">24.12.2024</time>

            <header class="news__hero-header flex flex--justify-between gap--10">
                <h2 class="news__hero-heading font--secondary font--bold font--size-16 color--white">Важливий подарунок від вихованців дитячого футбольного клубу FC VAMPRO учням Черкаської спеціальної школи</h2>

                <a href="https://cherkassy-sport.com/aktualno/60758-vazhlyvyi-podarunok-vid-vykhovantsiv-dytiachoho-futbolnoho-klubu-fc-vampro-uchniam-cherkaskoi-spetsialnoi-shkoly.html" target="_blank" rel="nofollow" class="news__hero-link flex flex--no-shrink flex--align-center flex--justify-center bg--green">
                    <img loading="lazy" width="22" height="22" class="news__hero-link-icon" src="./img/icons/icon_news_link.svg" alt="Іконка посилання">
                </a>
            </header>

            <p class="font--size-16 font--normal font--secondary color--white">Вихованці дитячого футбольного клубу FC VAMPRO (Черкаси) при підтримці компаній <strong>VAMPRO+</strong> та <strong>TOP MINERALS</strong> подарували комплект тактильних елементів доступності – таблички зі шрифтом Брайля комунальному закладу «Черкаська спеціальна школа Черкаської обласної ради»</p>
        </article>

        <article class="news__hero-card flex flex--column gap--8">
            <figure class="news__hero-image-wrapper mb--8">
                <img loading="lazy" width="343" height="252" class="news__hero-img" src="./img/sections/news/section-news/image_news_2.webp" alt="Зображення вихованців комунального закладу «Черкаський навчально-реабілітаційний центр «Країна добра Черкаської обласної ради»">
            </figure>

            <time datetime="2024-09-20" class="font--secondary font--normal font--size-16 color--light-grey">20.09.2024</time>

            <header class="news__hero-header flex flex--justify-between gap--10">
                <h2 class="news__hero-heading font--secondary font--bold font--size-16 color--white">Майстер-клас від футболістів FC «VAMPRO+» для вихованців КЗ «Черкаський НРЦ «Країна добра Черкаської обласної ради»</h2>

                <a href="https://cherkassy-sport.com/futbol/57988-maister-klas-vid-futbolistiv-fc-vampro-dlia-vykhovantsiv-kz-cherkaskyi-nrts-kraina-dobra-cherkaskoi-oblasnoi-rady.html" target="_blank" rel="nofollow" class="news__hero-link flex flex--no-shrink flex--align-center flex--justify-center bg--green">
                    <img loading="lazy" width="22" height="22" class="news__hero-link-icon" src="./img/icons/icon_news_link.svg" alt="Іконка посилання">
                </a>
            </header>

            <p class="font--size-16 font--normal font--secondary color--white">До вихованців комунального закладу «Черкаський навчально-реабілітаційний центр «Країна добра Черкаської обласної ради» з дружнім візитом завітали гравці футбольної команди <strong>FC «VAMPRO+».</strong></p>
        </article>

        <article class="news__hero-card flex flex--column gap--8">
            <figure class="news__hero-image-wrapper mb--8 fade--in">
                <img loading="lazy" width="343" height="252" class="news__hero-img" src="./img/sections/news/section-news/image_news_3.webp" alt="Зображення борці у гостях Черкаської спеціальної школи">
            </figure>

            <time datetime="2024-09-17" class="font--secondary font--normal font--size-16 color--light-grey fade--in">17.09.2024</time>

            <header class="news__hero-header flex flex--justify-between gap--10">
                <h2 class="news__hero-heading font--secondary font--bold font--size-16 color--white fade--in">Юні борці у гостях Черкаської спеціальної школи: провели тренування та передали спортивний інвентар і солодощі</h2>

                <a href="https://cherkassy-sport.com/aktualno/57860-iuni-bortsi-u-hostiakh-cherkaskoi-spetsialnoi-shkoly-provely-trenuvannia-ta-peredaly-sportyvnyi-inventar-i-solodoshchi.html" target="_blank" rel="nofollow" class="news__hero-link flex flex--no-shrink flex--align-center flex--justify-center bg--green fade--in">
                    <img loading="lazy" width="22" height="22" class="news__hero-link-icon" src="./img/icons/icon_news_link.svg" alt="Іконка посилання">
                </a>
            </header>

            <p class="font--size-16 font--normal font--secondary color--white fade--in">Захід відбувся за підтримки президента федерації з вільної боротьби Валерія Музики під егідою <strong>Vampro+</strong> та <strong>Top Minerals.</strong></p>
        </article>

        <article class="news__hero-card flex flex--column gap--8">
            <figure class="news__hero-image-wrapper mb--8 fade--in">
                <img loading="lazy" width="343" height="252" class="news__hero-img" src="./img/sections/news/section-news/image_news_4.webp" alt="Зображення FC VAMPRO+ – переможець відкритого Чемпіонату Черкас з футзалу">
            </figure>

            <time datetime="2024-08-15" class="font--secondary font--normal font--size-16 color--light-grey fade--in">15.08.2024</time>

            <header class="news__hero-header flex flex--justify-between gap--10">
                <h2 class="news__hero-heading font--secondary font--bold font--size-16 color--white fade--in">FC VAMPRO+ – переможець відкритого Чемпіонату Черкас з футзалу</h2>

                <a href="https://cherkassy-sport.com/futzal/56848-fc-vampro-peremozhets-vidkrytoho-chempionatu-cherkas-z-futzalu.html" target="_blank" rel="nofollow" class="news__hero-link flex flex--no-shrink flex--align-center flex--justify-center bg--green fade--in">
                    <img loading="lazy" width="22" height="22" class="news__hero-link-icon" src="./img/icons/icon_news_link.svg" alt="Іконка посилання">
                </a>
            </header>

            <p class="font--size-16 font--normal font--secondary color--white fade--in">Фінішував відкритий Чемпіонат з футзалу серед чоловічих команд присвячений захисникам і захисницям України</p>
        </article>

        <article class="news__hero-card flex flex--column gap--8">
            <figure class="news__hero-image-wrapper mb--8 fade--in">
                <img loading="lazy" width="343" height="252" class="news__hero-img" src="./img/sections/news/section-news/image_news_5.webp" alt="Зображення турнір з вільної боротьби серед юнаків і дівчат">
            </figure>

            <time datetime="2024-12-26" class="font--secondary font--normal font--size-16 color--light-grey fade--in">26.12.2024</time>

            <header class="news__hero-header flex flex--justify-between gap--10">
                <h2 class="news__hero-heading font--secondary font--bold font--size-16 color--white fade--in">У Черкасах у Всеукраїнському Новорічному турнірі з вільної боротьби серед юнаків і дівчат перемогла дружба</h2>

                <a href="https://cherkassy-sport.com/inshi-vydy/60783-u-cherkasakh-u-vseukrainskomu-novorichnomu-turniri-z-vilnoi-borotby-sered-iunakiv-i-divchat-peremohla-druzhba.html" target="_blank" rel="nofollow" class="news__hero-link flex flex--no-shrink flex--align-center flex--justify-center bg--green fade--in">
                    <img loading="lazy" width="22" height="22" class="news__hero-link-icon" src="./img/icons/icon_news_link.svg" alt="Іконка посилання">
                </a>
            </header>

            <p class="font--size-16 font--normal font--secondary color--white fade--in">У Черкасах 24 грудняу СК «Будівельник» Асоціацією вільної боротьби м.Черкаси при підтримці партнерів – компаній <strong>VAMPRO+</strong> і <strong>TOP MINERALS</strong> проведено Всеукраїнський Новорічний турнір з вільної боротьби серед юнаків і дівчат 2010-2012 р.н. 2015- 2016 р.н.</p>
        </article>

        <article class="news__hero-card flex flex--column gap--8">
            <figure class="news__hero-image-wrapper mb--8 fade--in">
                <img loading="lazy" width="343" height="252" class="news__hero-img" src="./img/sections/news/section-news/image_news_6.webp" alt="Зображення турнір з футзалу «TOVARNYAK KIDS CUP’25,VAMPRO+">
            </figure>

            <time datetime="2025-01-13" class="font--secondary font--normal font--size-16 color--light-grey fade--in">13.01.2025</time>

            <header class="news__hero-header flex flex--justify-between gap--10">
                <h2 class="news__hero-heading font--secondary font--bold font--size-16 color--white fade--in">У Черкасах відбудеться турнір з футзалу «TOVARNYAK KIDS CUP’25,VAMPRO+ збирає Друзів»</h2>

                <a href="https://cherkassy-sport.com/aktualno/61258-u-cherkasakh-vidbudetsia-turnir-z-futzalu-tovarnyak-kids-cup-25-vampro-zbyraie-druziv.html" target="_blank" rel="nofollow" class="news__hero-link flex flex--no-shrink flex--align-center flex--justify-center bg--green fade--in">
                    <img loading="lazy" width="22" height="22" class="news__hero-link-icon" src="./img/icons/icon_news_link.svg" alt="Іконка посилання">
                </a>
            </header>

            <p class="font--size-16 font--normal font--secondary color--white fade--in">Першого лютого у турнірі, організатором якого є дитячо-юнацька футбольна школа FC VAMPRO (Черкаси) при підтримці і сприянні компаній <strong>VAMPRO+</strong> та <strong>TOP MINERALS</strong>, візьмуть участь діти 2014-2015 років народженн</p>
        </article>

        <article class="news__hero-card flex flex--column gap--8">
            <figure class="news__hero-image-wrapper mb--8 fade--in">
                <img loading="lazy" width="343" height="252" class="news__hero-img" src="./img/sections/news/section-news/image_news_7.webp" alt="Зображення турнір з футзалу «TOVARNYAK KIDS CUP’25,VAMPRO+">
            </figure>

            <time datetime="2025-02-01" class="font--secondary font--normal font--size-16 color--light-grey fade--in">01.02.2025</time>

            <header class="news__hero-header flex flex--justify-between gap--10">
                <h2 class="news__hero-heading font--secondary font--bold font--size-16 color--white fade--in">Футзал. Дитячий турнір «TOVARNYAK KIDS CUP’25,VAMPRO+збирає Друзів»: ПІДСУМКИ</h2>

                <a href="https://cherkassy-sport.com/futzal/61905-futzal-dytiachyi-turnir-tovarnyak-kids-cup-25-vampro-zbyraie-druziv-pidsumky.html" target="_blank" rel="nofollow" class="news__hero-link flex flex--no-shrink flex--align-center flex--justify-center bg--green fade--in">
                    <img loading="lazy" width="22" height="22" class="news__hero-link-icon" src="./img/icons/icon_news_link.svg" alt="Іконка посилання">
                </a>
            </header>

            <p class="font--size-16 font--normal font--secondary color--white fade--in">Дитячо-юнацька футбольна школа FC VAMPRO (Черкаси) при підтримці і сприянні компаній <strong>VAMPRO+</strong> та <strong>TOP MINERALS</strong> першого лютого організувала та провела турнір з футзалу «TOVARNYAK KIDS CUP’25,VAMPRO+ збирає Друзів» серед дітей 2014-2015 років народження</p>
        </article>

        <article class="news__hero-card flex flex--column gap--8">
            <figure class="news__hero-image-wrapper mb--8 fade--in">
                <img loading="lazy" width="343" height="252" class="news__hero-img" src="./img/sections/news/section-news/image_news_8.webp" alt="Зображення футбольний клуб FC VAMPRO (Черкаси)">
            </figure>

            <time datetime="2025-02-08" class="font--secondary font--normal font--size-16 color--light-grey fade--in">08.02.2025</time>

            <header class="news__hero-header flex flex--justify-between gap--10">
                <h2 class="news__hero-heading font--secondary font--bold font--size-16 color--white fade--in">«VAMPRO+ВЕТЕРАНИ СПОРТУ»: підсумки турніру з футзалу серед ветеранів 45+</h2>

                <a href="https://cherkassy-sport.com/futzal/62142-futzal-vampro-veterany-sportu-pidsumky-turniru.html" target="_blank" rel="nofollow" class="news__hero-link flex flex--no-shrink flex--align-center flex--justify-center bg--green fade--in">
                    <img loading="lazy" width="22" height="22" class="news__hero-link-icon" src="./img/icons/icon_news_link.svg" alt="Іконка посилання">
                </a>
            </header>

            <p class="font--size-16 font--normal font--secondary color--white fade--in">Футбольний клуб FC VAMPRO (Черкаси) при підтримці і сприянні компаній <strong>VAMPRO+</strong> та <strong>TOP MINERALS</strong> восьмого лютого організував та провів турнір з футзалу «VAMPRO+ВЕТЕРАНИ СПОРТУ» серед ветеранів (вікова категорія 45+)</p>
        </article>

        <a href="#" class="news__hero-btn btn btn--transparent flex gap--10 pt--16 pb--16 pl--24 pr--24 mt--16 font--size-12 font--bold font--secondary color--white text--uppercase flex flex--align-center flex--justify-center fade--in">Показати більше</a>
    </div>
</section>