.about {
    &__about {
        overflow-x: hidden;
        padding-top: 100px;
        margin-right: -16px;
        padding-right: 16px;

        &::before {
            content: '';
            background-image: url('../img/global/global_animation.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            right: -5px;
            top: 0;
            width: 162px;
            height: 222px;
            z-index: -1;
            opacity: .4;
            overflow-y: visible;
            transform: rotate(-80deg);
            pointer-events: none;

            @media (min-width: 1024px) {
                display: none;
            }
        }

        @media (min-width: 1024px) {
            margin-right: 0;
            padding-right: 80px;
            padding-left: 80px;
            padding-top: 150px;
            gap: 42px;
            margin-bottom: 56px;

            &::after {
                content: '';
                background-image: url('../img/global/global_animation.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                right: -35px;
                top: -65px;
                width: 450px;
                height: 450px;
                z-index: -1;
                opacity: .4;
                overflow-y: visible;
                transform: rotate(140deg);
                pointer-events: none;
            }

            &-title {
                @include font(56);
            }
        }

        @media (min-width: 1440px) {
            padding-right: 120px;
            padding-left: 120px;
        }

        &-img {
            background-repeat: no-repeat;
            background-position-x: 30%;
            background-size: cover;
            width: 100%;
            height: 91.47vw;
            max-height: 519px;
            border-radius: 20px;

            @media (min-width: 1024px) {
                max-height: 519px;
            }

            &-logo {
                top: 39px;
                left: 38px;
                z-index: 2;
                max-width: 107px;
                max-height: 42px;
                width: 29vw;
                height: 11.2vw;

                @media (min-width: 1024px) {
                    width: 19vw;
                    max-width: 273px;
                    height: 7.37vw;
                    max-height: 106px;
                    top: 58px;
                    left: 53px;
                }
            }

            &-product {
                bottom: 14px;
                right: 18px;
                z-index: 2;
                max-width: 225px;
                max-height: 201px;
                width: 60vw;
                height: 54vw;

                @media (min-width: 1024px) {
                    max-width: 372px;
                    width: 25.84vw;
                    max-height: 333px;
                    height: 23.13vw;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 115px;
                }
            }
        }
    }
}