.product {
    &__compound {
        @media (min-width: 1024px) {
            padding-left: 80px;
            padding-right: 80px;
            margin-bottom: 64px;
            position: relative;

            &::after {
                content: '';
                background-image: url('../img/global/global_animation.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                left: -190px;
                top: -220px;
                width: 450px;
                height: 450px;
                z-index: -1;
                opacity: .4;
                overflow-y: visible;
                transform: translateX(120px) rotate(-125deg);
                pointer-events: none;
            }

            &-wrapper {
                display: flex;
                border-radius: 50%;
                width: 15.417vw;
                height: 15.417vw;
                max-width: 222px;
                max-height: 222px;
            }

            &-img {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 19.306vw;
                max-width: 278px;
                height: auto;
            }

            &-title {
                @include font(32);
                margin-bottom: 24px;
            }

            &-list {
                display: grid;
            }

            &-content {
                display: flex;
                gap: 60px;
            }

            &-info {
                flex-direction: column;
                flex-shrink: 0;
            }

            &-chemical {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
            }
        }

        @media (min-width: 1440px) {
            padding-left: 120px;
            padding-right: 120px;

            &-content {
                gap: 120px;
            }
        }

        &-container {
            border-radius: 20px;
            box-shadow: 0 0 49.3px 0 rgba(0, 0, 0, .1);

            @media (min-width: 1024px) {
                box-shadow: none;
                padding: 43px;
                align-items: center;
                justify-content: space-between;
                gap: 24px;
            }

            @media (min-width: 1200px) {
                padding: 43px 110px 43px 24px;
                gap: 90px;
            }
        }

        &-subtitle {
            border-radius: 30px;
            max-width: fit-content;

            @media (min-width: 1024px) {
                @include font(20);
                color: var(--color--black);
                background-color: var(--color--white);
            }
        }

        &-formula {
            border-radius: 30px;
        }
    }
}