<section class="grid gap--24">
    <div class="about__benefit flex flex--align-center gap--16 bg--green pt--16 pb--16 pl--24 pr--24">
        <img loading="lazy" width="32" height="32" src="./img/sections/about/section-benefits/image_benefit_1.svg" alt="Іконка переваги">

        <p class="font--secondary font--size-16 font--bold color--black">Використання лише екологічно чистої сировини.</p>
    </div>

    <div class="about__benefit flex flex--align-center gap--16 bg--green pt--16 pb--16 pl--24 pr--24">
        <img loading="lazy" width="32" height="32" src="./img/sections/about/section-benefits/image_benefit_2.svg" alt="Іконка переваги">

        <p class="font--secondary font--size-16 font--bold color--black">Добрива адаптовані для всіх типів ґрунтів і кліматичних умов.</p>
    </div>

    <div class="about__benefit flex flex--align-center gap--16 bg--green pt--16 pb--16 pl--24 pr--24">
        <img loading="lazy" width="32" height="32" src="./img/sections/about/section-benefits/image_benefit_3.svg" alt="Іконка переваги">

        <p class="font--secondary font--size-16 font--bold color--black">Максимальна концентрація активних компонентів для економічного застосування.</p>
    </div>
</section>