<section class="about__about position--relative grid gap--24">
    <h1 class="about__about-title font--size-32 font--semi font--primary text--uppercase color--white">Про нас</h1>

    <div class="about__about-img position--relative lazy-bg" data-bg="./img/sections/about/section-about/image_about_bg.webp">
        <img loading="lazy" width="107" height="42" class="about__about-img-logo position--absolute" src="./img/global/header_logo.svg" alt="Логотип TopMinerals">
        <img loading="lazy" width="225" height="201" class="about__about-img-product position--absolute" src="./img/sections/about/section-about/image_about_product.webp" alt="Продукт TopMinerals">
    </div>
</section>