<section class="about__story grid gap--64">
    <div class="about__story-container grid gap--24 position--relative">
        <div class="about__story-header flex flex--column gap--24">
            <h2 class="about__story-header-title fade--in font--size-28 font--semi font--primary text--uppercase color--white">Наша історія</h2>

            <p class="about__story-header-text fade--in font--secondary font--size-16 font--normal color--white">Компанія "ТОП МІНЕРАЛС" була заснована у 2022 році та спеціалізується на виробництві високоякісних комплексних мінеральних добрив. Ми пропонуємо інноваційні рішення, які підвищують врожайність та сприяють збереженню природної родючості ґрунтів.</p>
        </div>

        <div class="about__story-media flex flex--align-end gap--16">
            <div class="about__story-img lazy-bg fade--in" data-bg="./img/sections/about/section-story/image_story_1.webp"></div>

            <div class="about__story-img lazy-bg fade--in" data-bg="./img/sections/about/section-story/image_story_2.webp"></div>
        </div>
    </div>

    <div class="about__story-wrapper fade--in pt--32 pb--32 pl--32 pr--32 bg--white position--relative">
        <img loading="lazy" width="48" height="48" class="about__story-quotes position--absolute" src="./img/sections/about/section-story/image_quotes.svg" alt="Іконка цитати">

        <p class="about__story-text font--primary font--size-18 font--semi color--black text--uppercase text--center">"Наша місія – допомагати аграріям досягати стабільного врожаю завдяки екологічним та ефективним добривам. Ми прагнемо впроваджувати інновації у виробництво для створення нових можливостей для сільського господарства."</p>
    </div>
</section>