<section class="about__products position--relative grid gap--24">
    <h2 class="about__products-heading font--size-28 font--semi font--primary text--uppercase color--white">Ми виробляємо такі види високоякісних мінеральних добрив:</h2>

    <div class="flex flex--column gap- flex flex--column-10">
        <ul class="about__products-content flex flex--column gap--16">
            <li class="about__products-list fade--in bg--black font--size-16 grid gap--24 pt--16 pb--16 pl--16 pr--16 position--relative">
                <div class="about__products-tab  flex flex--align-center flex--justify-between gap--24">
                    <h3 class="about__products-title font--size-18 font--primary font--semi text--uppercase color--white">Рідкі мікродобрива</h3>

                    <figure class="about__products-icon flex flex--align-center flex--justify-center bg--green">
                        <img loading="lazy" width="12" height="8" class="about__products-img" src="./img/icons/icon_chevron_accordion.svg" alt="Іконка акордеону">
                    </figure>
                </div>

                <div data-text class="flex flex--column position--relative hidden">
                    <div class="grid gap--16">
                        <p class="about__products-text font--secondary text--break font--size-16 font--normal color--white">Ці добрива являють собою концентровані розчини, багаті на макро-, мєзо-, мікро- та ультромікроелементи, фізіологічно активні речовини, з антистресорними, ростостимулюючими та імунопротекторними властивостями, необхідними для повноцінного розвитку рослин, високого та якісного врожаю.</p>

                        <p class="about__products-text font--secondary text--break font--size-16 font--normal color--white">
                            ➢ забезпечують швидке засвоєння поживних речовин; <br>
                            ➢ зручні у застосуванні через системи крапельного зрошення, обприскування та позакореневе підживлення; <br>
                            ➢ ідеально підходять для підвищення стійкості культур до стресових умов, таких як посуха чи заморозки; <br>
                            ➢ економічно вигідні дози&nbsp;<br class="about__products-divider">застосування.
                        </p>
                    </div>

                    <a href="#" class="about__products-link flex flex--align-center flex--justify-center bg--white position--absolute">
                        <img loading="lazy" width="12" height="10" src="./img/icons/icon_arrow_right_black.svg" alt="Іконка кнопки читати докладно">
                    </a>
                </div>
            </li>

            <li class="about__products-list fade--in bg--black font--size-16 grid gap--24 pt--16 pb--16 pl--16 pr--16 position--relative">
                <div class="about__products-tab  flex flex--align-center flex--justify-between gap--24">
                    <h3 class="about__products-title font--size-18 font--primary font--semi text--uppercase color--white">Ґрунтомодифікуючі добрива</h3>

                    <figure class="about__products-icon flex flex--align-center flex--justify-center bg--green">
                        <img loading="lazy" width="12" height="8" class="about__products-img" src="./img/icons/icon_chevron_accordion.svg" alt="Іконка акордеону">
                    </figure>
                </div>

                <div data-text class="flex flex--column position--relative hidden">
                    <div class="grid gap--16">
                        <p class="about__products-text font--secondary text--break font--size-16 font--normal color--white">Унікальні суміші, що не лише насичують ґрунт макро- та мікроелементами, а й покращують його структуру та хімічні властивості:</p>

                        <p class="about__products-text font--secondary text--break font--size-16 font--normal color--white">
                            ➢ підвищують водоутримуючу здатність ґрунту; <br>
                            ➢ знижують рівень кислотності або засоленості, відновлюючи оптимальний баланс; <br>
                            ➢ збільшують вміст органічної речовини, сприяючи довгостроковій родючості; <br>
                            ➢ допомагають фермерським угіддям стати більш стійкими до зовнішніх впливів та підвищують загальну врожайність; <br>
                            ➢ покращують агрофізичні&nbsp;<br class="about__products-divider">властивості ґрунту.
                        </p>
                    </div>

                    <a href="#" class="about__products-link flex flex--align-center flex--justify-center bg--white position--absolute">
                        <img loading="lazy" width="12" height="10" src="./img/icons/icon_arrow_right_black.svg" alt="Іконка кнопки читати докладно">
                    </a>
                </div>
            </li>

            <li class="about__products-list fade--in bg--black font--size-16 grid gap--24 pt--16 pb--16 pl--16 pr--16 position--relative">
                <div class="about__products-tab  flex flex--align-center flex--justify-between gap--24">
                    <h3 class="about__products-title font--size-18 font--primary font--semi text--uppercase color--white">Кристалічні мікродобрива</h3>

                    <figure class="about__products-icon flex flex--align-center flex--justify-center bg--green">
                        <img loading="lazy" width="12" height="8" class="about__products-img" src="./img/icons/icon_chevron_accordion.svg" alt="Іконка акордеону">
                    </figure>
                </div>

                <div data-text class="flex flex--column position--relative hidden">
                    <div class="grid gap--16">
                        <p class="about__products-text font--secondary text--break font--size-16 font--normal color--white">Ефективні водорозчинні добрива, що містять ключові макро- та мікроелементи, необхідні для росту та розвитку рослин:</p>

                        <p class="about__products-text font--secondary text--break font--size-16 font--normal color--white">
                            ➢ висока концентрація поживних речовин; <br>
                            ➢ повністю розчиняються у воді, забезпечуючи рівномірний розподіл поживних речовин з практично повним їх засвоюванням; <br>
                            ➢ прості у застосуванні для передпосівної підготовки та періоду вегетації; <br>
                            ➢ забезпечують тривалу дію завдяки пролонгованому живленню; <br>
                            ➢ економічно вигідні дози&nbsp;<br class="about__products-divider">застосування.
                        </p>
                    </div>

                    <a href="#" class="about__products-link flex flex--align-center flex--justify-center bg--white position--absolute">
                        <img loading="lazy" width="12" height="10" src="./img/icons/icon_arrow_right_black.svg" alt="Іконка кнопки читати докладно">
                    </a>
                </div>
            </li>

            <li class="about__products-list fade--in bg--black font--size-16 grid gap--24 pt--16 pb--16 pl--16 pr--16 position--relative">
                <div class="about__products-tab  flex flex--align-center flex--justify-between gap--24">
                    <h3 class="about__products-title font--size-18 font--primary font--semi text--uppercase color--white">Рідкі комплексні добрива</h3>

                    <figure class="about__products-icon flex flex--align-center flex--justify-center bg--green">
                        <img loading="lazy" width="12" height="8" class="about__products-img" src="./img/icons/icon_chevron_accordion.svg" alt="Іконка акордеону">
                    </figure>
                </div>

                <div data-text class="flex flex--column position--relative hidden">
                    <div class="grid gap--16">
                        <p class="about__products-text font--secondary text--break font--size-16 font--normal color--white">Високоефективні рідкі добрива широкого спектру застосування. Є істинними розчинами без домішок. Містять в розчині основні макро- та мікроелементи з швидким та повним їх засвоюванням.</p>

                        <p class="about__products-text font--secondary text--break font--size-16 font--normal color--white">
                            ➢ різноманітність формуляції та висока стабільність розчину; <br>
                            ➢ швидке та практично повне засвоювання поживних елементів; <br>
                            ➢ висока технологічність внесення; <br>
                            ➢ висока конверсія поживних елементів; <br>
                            ➢ економічно вигідні дози&nbsp;<br class="about__products-divider">застосування.
                        </p>
                    </div>

                    <a href="#" class="about__products-link flex flex--align-center flex--justify-center bg--white position--absolute">
                        <img loading="lazy" width="12" height="10" src="./img/icons/icon_arrow_right_black.svg" alt="Іконка кнопки читати докладно">
                    </a>
                </div>
            </li>
        </ul>
    </div>

    <a href="#" class="about__products-btn grid fade--in">
        <span class="btn bg--green flex gap--10 pt--16 pb--16 pl--24 pr--24 font--size-12 font--bold font--secondary color--black text--uppercase flex flex--align-center flex--justify-center">
            <span>Переглянути продукцію</span>

            <img loading="lazy" width="15" height="12" src="./img/icons/icon_arrow_right_black.svg" alt="Іконка кнопки переглянути продукцію">
        </span>
    </a>
</section>