.main {
    &__partner {
        overflow: visible;
        margin-left: -16px;
        padding-left: 16px;

        &::before {
            content: '';
            background-image: url('../img/global/global_animation.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            left: -35px;
            top: -120px;
            width: 166px;
            height: 222px;
            z-index: -1;
            opacity: .4;
            overflow-y: visible;
            transform: scaleX(-1);
            pointer-events: none;

            @media (min-width: 1024px) {
                display: none;
            }
        }

        &-img {
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 92vw;
            max-height: 305px;
            border-radius: 20px;

            @media (min-width: 1024px) {
                min-width: 26vw;
                height: auto;
                max-width: 723px;
            }

            &-logo {
                top: 39px;
                left: 38px;
                z-index: 2;
                max-width: 107px;
                max-height: 42px;
                width: 29vw;
                height: 11.2vw;

                @media (min-width: 1024px) {
                    max-width: 165px;
                    width: 12vw;
                    max-height: 64px;
                    height: 5vw;
                    top: 35px;
                    left: 32px;
                }
            }

            &-product {
                bottom: 14px;
                right: 18px;
                z-index: 2;
                max-width: 225px;
                max-height: 201px;
                width: 60vw;
                height: 54vw;

                @media (min-width: 1024px) {
                    top: 50%;
                    transform: translateY(-50%);
                    right: 69px;
                }
            }
        }

        @media (min-width: 1024px) {
            display: flex;
            flex-direction: row-reverse;
            max-width: 1440px;
            padding-left: 80px;
            padding-right: 80px;
            gap: 48px;
            margin-bottom: 103px;
            overflow-x: clip;
            overflow-y: visible;

            &::after {
                content: '';
                background-image: url('../img/global/global_animation.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                right: 0;
                bottom: -305px;
                width: 450px;
                height: 450px;
                z-index: -1;
                opacity: .4;
                overflow-y: visible;
                transform: rotate(60deg);
                pointer-events: none;
            }

            &-btn {
                display: none;

                &-small {
                    display: grid;
                    width: 167px;
                    height: 49px;
                }
            }

            &-title {
                @include font(24);
            }

            &-text {
                @include font(20);
                margin-bottom: 24px;
            }

            &-container {
                display: flex;
                flex-direction: column;
                flex-basis: 59%;
            }
        }

        @media (min-width: 1440px) {
            padding-left: 120px;
            padding-right: 120px;
        }
    }
}