.main {
    &__products {
        overflow-y: visible;
        overflow-x: clip;
        margin-right: -16px;
        padding-right: 16px;

        &::before {
            content: '';
            background-image: url('../img/global/global_animation.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            right: -10px;
            top: -105px;
            width: 166px;
            height: 222px;
            z-index: -1;
            opacity: .4;
            transform: rotate(-60deg);
            pointer-events: none;

            @media (min-width: 1024px) {
                display: none;
            }
        }

        @media (min-width: 1024px) {
            max-width: 1440px;
            width: 100%;
            margin-bottom: 103px;
            padding-left: 80px;
            padding-right: 80px;

            &::after {
                content: '';
                background-image: url('../img/global/global_animation.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                left: 20%;
                bottom: -305px;
                width: 450px;
                height: 450px;
                z-index: -1;
                opacity: .4;
                overflow-y: visible;
                transform: scaleX(1) translateX(120px) rotate(-45deg);
                pointer-events: none;
            }

            &-title {
                @include font(32);
            }

            &-wrapper {
                gap: 48px;
            }
        }

        @media (min-width: 1440px) {
            padding-left: 120px;
            padding-right: 120px;
        }

        &-container {
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;
            scrollbar-width: none;
            -ms-overflow-style: none;

            &::-webkit-scrollbar {
                display: none;
            }

            @media (min-width: 1024px) {
                gap: 12px;
            }
        }

        &-item {
            scroll-snap-align: start;
            scroll-snap-stop: always;
            user-select: none;
            border-radius: 40px;
            border: 1px solid var(--color--white);
            background-color: transparent;
            transition: background-color .4s ease, border-color .4s ease, color .4s ease, border .4s ease;

            @media (min-width: 1024px) {
                @include font(16);
                padding: 10px 24px;

                &:hover {
                    cursor: pointer;
                    border-color: var(--color--light-grey);
                }
            }

            &.active {
                background-color: var(--color--green);
                color: var(--color--black);
                border: 1px solid transparent;
            }
        }

        &-carousel {
            @media (min-width: 1024px) {
                margin-left: 0;
                margin-right: 0;
                overflow-x: hidden;

                &-btn {
                    display: flex;
                    transition: all .4s ease-in-out;
                }
            }

            &-wrapper {
                width: 76.27vw;
                overflow: hidden;

                @media (min-width: 1024px) {
                    width: 100%;
                }
            }

            &-track {
                transition: transform .4s ease;
                will-change: transform;
            }

            &-slide {
                flex: 0 0 100%;
                border-radius: 18px;

                @media (min-width: 1024px) {
                    max-width: 386px;
                    flex-grow: 0;
                    flex-shrink: 1;
                    min-width: calc(100% / 3 - 16px);
                }

                &-img {
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    width: 60.8vw;
                    height: 43vw;
                    border-radius: 20px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    @media (min-width: 1024px) {
                        width: 24.306vw;
                        height: 16.667vw;
                        max-width: 350px;
                        max-height: 240px;
                    }
                }
            }

            &-nav {
                top: 50%;
                border: none;
                z-index: 2;
                height: 7vw;
                width: 7vw;
                border-radius: 50%;

                @media (min-width: 1024px) {
                    height: 40px;
                    width: 40px;
                }

                &.disabled {
                    filter: brightness(.4);
                    pointer-events: none;
                }

                &--prev {
                    left: 0;
                    transform: translateY(-50%);

                    @media (min-width: 1024px) {
                        left: 24px;
                        transform: translateY(calc(-50% + 24px));
                    }
                }

                &--next {
                    right: 16px;
                    transform: translateY(-50%) rotate(180deg);

                    @media (min-width: 1024px) {
                        right: 42px;
                        transform: translateY(calc(-50% + 24px)) rotate(180deg);
                    }
                }
            }

            &-dots {
                button {
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    background-color: var(--color--light-grey);
                    border: none;

                    &.active {
                        background: var(--color--white);
                    }
                }
            }

            &-bg {
                height: 48.8vw;
                width: 48.8vw;
                border-radius: 50%;

                @media (min-width: 1024px) {
                    width: 20.139vw;
                    height: 20.139vw;
                    max-width: 290px;
                    max-height: 290px;
                }
            }

            &-link {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                transition: transform .4s ease-in-out, background-color .4s ease-in-out;

                @media (min-width: 1024px) {
                    &-img {
                        transition: all .4s ease-in-out;
                    }

                    &:hover {
                        transform: scale(1.1);
                        background-color: var(--color--green);
                    }
                }
            }
        }
    }
}