.section {
    &__partner {
        overflow: visible;
        margin-left: -16px;
        padding-left: 16px;

        &::before {
            content: '';
            background-image: url('../img/global/animation.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            left: -35px;
            top: -120px;
            width: 200px;
            height: 129px;
            z-index: -1;
            opacity: .4;
            overflow-y: visible;
            transform: scaleX(-1) rotate(45deg);
            pointer-events: none;
        }

        &-img {
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 92vw;
            border-radius: 20px;
        }
    }
}