.flex {
    display: flex;

    &--inline {
        display: inline-flex;
    }

    &--align-center {
        align-items: center;
    }

    &--align-baseline {
        align-items: baseline;
    }

    &--align-end {
        align-items: end;
    }

    &--justify-between {
        justify-content: space-between;
    }

    &--justify-center {
        justify-content: center;
    }

    &--column {
        flex-direction: column;
    }

    &--no-shrink {
        flex-shrink: 0;
    }

    &--wrap {
        flex-wrap: wrap;
    }
}

.grid {
    display: grid;

    &--align-end {
        align-self: end;
    }
}

.p {
    &t {
        &--6 {
            padding-top: 6px;
        }

        &--8 {
            padding-top: 8px;
        }

        &--10 {
            padding-top: 10px;
        }

        &--12 {
            padding-top: 12px;
        }

        &--16 {
            padding-top: 16px;
        }

        &--24 {
            padding-top: 24px;
        }

        &--28 {
            padding-top: 28px;
        }

        &--32 {
            padding-top: 32px;
        }
    }

    &b {
        &--6 {
            padding-bottom: 6px;
        }

        &--8 {
            padding-bottom: 8px;
        }

        &--10 {
            padding-bottom: 10px;
        }

        &--12 {
            padding-bottom: 12px;
        }

        &--16 {
            padding-bottom: 16px;
        }

        &--24 {
            padding-bottom: 24px;
        }

        &--32 {
            padding-bottom: 32px;
        }
    }

    &l {
        &--10 {
            padding-left: 10px;
        }

        &--12 {
            padding-left: 12px;
        }

        &--16 {
            padding-left: 16px;
        }

        &--24 {
            padding-left: 24px;
        }

        &--28 {
            padding-left: 28px;
        }

        &--32 {
            padding-left: 32px;
        }
    }

    &r {
        &--10 {
            padding-right: 10px;
        }

        &--12 {
            padding-right: 12px;
        }

        &--16 {
            padding-right: 16px;
        }

        &--24 {
            padding-right: 24px;
        }

        &--28 {
            padding-right: 28px;
        }

        &--32 {
            padding-right: 32px;
        }
    }
}

.m {
    &--auto {
        margin-left: auto;
        margin-right: auto;
    }

    &l {

    }

    &r {
        &--16 {
            margin-right: 16px;
        }
    }

    &b {
        &--16 {
            margin-bottom: 16px;
        }

        &--32 {
            margin-bottom: 32px;
        }
    }
}

.gap {
    &--3 {
        gap: 3px;
    }

    &--4 {
        gap: 4px;
    }

    &--6 {
        gap: 6px;
    }

    &--8 {
        gap: 8px;
    }

    &--10 {
        gap: 10px;
    }

    &--14 {
        gap: 14px;
    }

    &--16 {
        gap: 16px;
    }

    &--22 {
        gap: 22px;
    }

    &--24 {
        gap: 24px;
    }

    &--32 {
        gap: 32px;
    }

    &--34 {
        gap: 34px;
    }

    &--64 {
        gap: 64px;
    }
}

.font {
    &--normal {
        font-weight: 400;
    }

    &--medium {
        font-weight: 500;
    }

    &--semi {
        font-weight: 600;
    }

    &--bold {
        font-weight: 700;
    }

    &--primary {
        font-family: Oswald;
    }

    &--secondary {
        font-family: Ubuntu Sans;
    }

    &--size {
        &-10 {
            @include font(10);
        }

        &-12 {
            @include font(12);
        }

        &-14 {
            @include font(14);
        }

        &-16 {
            @include font(16);
        }

        &-18 {
            @include font(18);
        }

        &-28 {
            @include font(28);
        }

        &-32 {
            @include font(32);
        }
    }
}

.text {
    &--uppercase {
        text-transform: uppercase;
    }

    &--center {
        text-align: center;
    }

    &--break {
        word-break: break-word;
    }
}

.bg {
    &--black {
        background-color: var(--color--black);
    }

    &--grey {
        background-color: var(--color--grey);
    }

    &--green {
        background-color: var(--color--green);
    }

    &--white {
        background-color: var(--color--white);
    }

    &--pale-grey {
        background-color: var(--color--pale-grey);
    }
}

.color {
    &--white {
        color: var(--color--white);
    }

    &--light-grey {
        color: var(--color--light-grey);
    }

    &--black {
        color: var(--color--black);
    }

    &--green {
        color: var(--color--green);
    }

    &--red {
        color: var(--color--red);
    }
}

.position {
    &--fixed {
        position: fixed;
    }

    &--absolute {
        position: absolute;
    }

    &--relative {
        position: relative;
    }
}

.btn {
    border-radius: 37px;
    border: 1px solid transparent;

    @media (min-width: 1024px) {
        transition: .4s ease;

        img {
            transition: .4s ease;
        }

        &:hover {
            border: 1px solid var(--color--white);
            background-color: transparent;
            color: var(--color--white);

            img {
                filter: brightness(100);
            }
        }
    }

    &--transparent {
        border: 1px solid var(--color--white);

        @media (min-width: 1024px) {
            transition: .4s ease;

            img {
                transition: .4s ease;
            }

            &:hover {
                border: 1px solid var(--color--green);
                background-color: var(--color--green);
                color: var(--color--black);

                img {
                    filter: brightness(0);
                }
            }
        }
    }
}

.hidden {
    display: none;
}