:root {
    --color--black: #0E0E0E;
    --color--grey: #292929;
    --color--light-grey: #A2A2A2;
    --color--pale-grey: #F5F4F4;
    --color--white: #FFFFFF;
    --color--green: #B4D31F;
    --color--red: #F33E3E;
}