.contacts {
    &__faq {
        overflow: hidden;
        margin-right: -16px;
        padding-right: 16px;

        &::before {
            content: '';
            background-image: url('../img/global/global_animation.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            right: 30px;
            top: 40px;
            width: 162px;
            height: 222px;
            z-index: -1;
            opacity: .4;
            transform: rotate(-60deg);
            pointer-events: none;

            @media (min-width: 1024px) {
                display: none;
            }
        }

        @media (min-width: 1024px) {
            margin-right: 0;
            padding-right: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 80px;
            padding-right: 80px;
            margin-bottom: 64px;
            overflow: visible;

            &::after {
                content: '';
                background-image: url('../img/global/global_animation.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                left: 10%;
                top: -220px;
                width: 450px;
                height: 450px;
                z-index: -1;
                opacity: .4;
                overflow-y: visible;
                transform: scaleX(1) translateX(120px) rotate(-45deg);
                pointer-events: none;
            }

            &-title {
                @include font(32);
            }

            &-text {
                @include font(20);
                max-width: 380px;
            }

            &-container {
                gap: 32px;
            }

            &-wrapper {
                gap: 16px;
            }

            &-link {
                transition: .4s ease-in-out;

                &:hover {
                    color: var(--color--pale-grey);
                }
            }

            &-subtitle {
                @include font(20);
            }
        }

        @media (min-width: 1440px) {
            padding-left: 120px;
            padding-right: 120px;
        }

        &-item {
            width: 24px;
            height: 24px;
            border-radius: 50%;
        }

        &-img {
            transition: transform .4s ease;
        }

        &-icon {
            min-width: 30px;
            min-height: 30px;
            border-radius: 50%;

            &.open {
                .contacts__faq-img {
                    transform: rotate(180deg);
                }
            }
        }

        &-list {
            border-radius: 20px;

            @media (min-width: 1024px) {
                max-width: 520px;
                cursor: pointer;
            }

            @media (min-width: 1024px) {
                max-width: 686px;
            }
        }
    }
}