<section class="section__products position--relative grid gap--32">
    <div class="grid gap--24">
        <h2 class="font--primary font--size-28 font--semi color--white text--uppercase">Продукція</h2>

        <ul class="section__products-container flex gap--6">
            <li data-cat="1" class="section__products-item font--secondary font--size-10 color--white font--medium pt--6 pb--6 pl--10 pr--10 flex flex--no-shrink active">Рідкі комплексні добрива</li>
            <li data-cat="2" class="section__products-item font--secondary font--size-10 color--white font--medium pt--6 pb--6 pl--10 pr--10 flex flex--no-shrink">КАС</li>
            <li data-cat="3" class="section__products-item font--secondary font--size-10 color--white font--medium pt--6 pb--6 pl--10 pr--10 flex flex--no-shrink">Грунтомодифікуючі добрива</li>
            <li data-cat="4" class="section__products-item font--secondary font--size-10 color--white font--medium pt--6 pb--6 pl--10 pr--10 flex flex--no-shrink">Рідкі комплексні мікродобрива</li>
            <li data-cat="5" class="section__products-item font--secondary font--size-10 color--white font--medium pt--6 pb--6 pl--10 pr--10 flex flex--no-shrink">Мікродобрива кристалічні</li>
        </ul>

        <div class="section__products-carousel position--relative flex flex--column flex--align-center m--auto">
            <button type="button" aria-label="Попередній слайд" class="section__products-carousel-nav section__products-carousel-nav--prev bg--black position--absolute"></button>

            <div class="section__products-carousel-wrapper">
                <div class="section__products-carousel-track flex gap--16">
                    <div data-slide="1,2,3,4,5" class="section__products-carousel-slide flex flex--justify-center flex--align-center flex--column bg--black pt--28 pb--24 pl--28 pr--28 gap--22">
                        <span data-slide-text="1" class="color--white font--secondary font--bold font--size-16 text--center">4-16-4 Налив/Єврокуб</span>
                        <span data-slide-text="2" class="color--white font--secondary font--bold font--size-16 text--center hidden">КАС 28 + Гумати Налив/Єврокуб</span>
                        <span data-slide-text="3" class="color--white font--secondary font--bold font--size-16 text--center hidden">N10 + 6 Гумати + 10 орг. + біо Налив/Єврокуб</span>
                        <span data-slide-text="4" class="color--white font--secondary font--bold font--size-16 text--center hidden">BASIC Каністри по 10 л, 20 л</span>
                        <span data-slide-text="5" class="color--white font--secondary font--bold font--size-16 text--center hidden">Universal 20-20-20 Мішок по 25 кг</span>

                        <div class="section__products-carousel-bg bg--green position--relative">
                            <div data-slide-img="1" class="section__products-carousel-slide-img lazy-bg position--absolute" data-bg="./img/sections/section-products/slider-1/slide_1_1.webp"></div>
                            <div data-slide-img="2" class="section__products-carousel-slide-img lazy-bg position--absolute hidden" data-bg="./img/sections/section-products/slider-2/slide_2_1.webp"></div>
                            <div data-slide-img="3" class="section__products-carousel-slide-img lazy-bg position--absolute hidden" data-bg="./img/sections/section-products/slider-3/slide_3_1.webp"></div>
                            <div data-slide-img="4" class="section__products-carousel-slide-img lazy-bg position--absolute hidden" data-bg="./img/sections/section-products/slider-4/slide_4_1.webp"></div>
                            <div data-slide-img="5" class="section__products-carousel-slide-img lazy-bg position--absolute hidden" data-bg="./img/sections/section-products/slider-5/slide_5_1.webp"></div>
                        </div>

                        <a href="#" class="section__products-carousel-link bg--white grid grid--align-end flex--align-center flex--justify-center">
                            <img loading="lazy" width="15" height="12" src="./img/icons/icon_arrow_right_black.svg" alt="Іконка посилання">
                        </a>
                    </div>

                    <div data-slide="1,2,3,4,5" class="section__products-carousel-slide flex flex--justify-center flex--align-center flex--column bg--black pt--28 pb--24 pl--28 pr--28 gap--22">
                        <span data-slide-text="1" class="color--white font--secondary font--bold font--size-16 text--center">4-10-10 Налив/Єврокуб</span>
                        <span data-slide-text="2" class="color--white font--secondary font--bold font--size-16 text--center hidden">КАС 30 + 3Zn Налив/Єврокуб</span>
                        <span data-slide-text="3" class="color--white font--secondary font--bold font--size-16 text--center hidden">N15 + 6 Гумати + 10 орг. Налив/Єврокуб</span>
                        <span data-slide-text="4" class="color--white font--secondary font--bold font--size-16 text--center hidden">BASIC MAXX Каністри по 10 л, 20 л</span>
                        <span data-slide-text="5" class="color--white font--secondary font--bold font--size-16 text--center hidden">Universal P 10-50-10 Мішок по 25 кг</span>

                        <div class="section__products-carousel-bg bg--green position--relative">
                            <div data-slide-img="1" class="section__products-carousel-slide-img lazy-bg position--absolute" data-bg="./img/sections/section-products/slider-1/slide_1_2.webp"></div>
                            <div data-slide-img="2" class="section__products-carousel-slide-img lazy-bg position--absolute hidden" data-bg="./img/sections/section-products/slider-2/slide_2_2.webp"></div>
                            <div data-slide-img="3" class="section__products-carousel-slide-img lazy-bg position--absolute hidden" data-bg="./img/sections/section-products/slider-3/slide_3_2.webp"></div>
                            <div data-slide-img="4" class="section__products-carousel-slide-img lazy-bg position--absolute hidden" data-bg="./img/sections/section-products/slider-4/slide_4_2.webp"></div>
                            <div data-slide-img="5" class="section__products-carousel-slide-img lazy-bg position--absolute hidden" data-bg="./img/sections/section-products/slider-5/slide_5_2.webp"></div>
                        </div>

                        <a href="#" class="section__products-carousel-link bg--white grid grid--align-end flex--align-center flex--justify-center">
                            <img loading="lazy" width="15" height="12" src="./img/icons/icon_arrow_right_black.svg" alt="Іконка посилання">
                        </a>
                    </div>

                    <div data-slide="1,2,4,5" class="section__products-carousel-slide flex flex--justify-center flex--align-center flex--column bg--black pt--28 pb--24 pl--28 pr--28 gap--22">
                        <span data-slide-text="1" class="color--white font--secondary font--bold font--size-16 text--center">10-20-0 Налив/Єврокуб</span>
                        <span data-slide-text="2" class="color--white font--secondary font--bold font--size-16 text--center hidden">КАС 26 + 4S Налив/Єврокуб</span>
                        <span data-slide-text="4" class="color--white font--secondary font--bold font--size-16 text--center hidden">TOP Бор Каністри по 10 л, 20 л</span>
                        <span data-slide-text="5" class="color--white font--secondary font--bold font--size-16 text--center hidden">Universal K 15-6-38 Мішок по 25 кг </span>

                        <div class="section__products-carousel-bg bg--green position--relative">
                            <div data-slide-img="1" class="section__products-carousel-slide-img lazy-bg position--absolute" data-bg="./img/sections/section-products/slider-1/slide_1_3.webp"></div>
                            <div data-slide-img="2" class="section__products-carousel-slide-img lazy-bg position--absolute hidden" data-bg="./img/sections/section-products/slider-2/slide_2_3.webp"></div>
                            <div data-slide-img="4" class="section__products-carousel-slide-img lazy-bg position--absolute hidden" data-bg="./img/sections/section-products/slider-4/slide_4_3.webp"></div>
                            <div data-slide-img="5" class="section__products-carousel-slide-img lazy-bg position--absolute hidden" data-bg="./img/sections/section-products/slider-5/slide_5_3.webp"></div>
                        </div>

                        <a href="#" class="section__products-carousel-link bg--white grid grid--align-end flex--align-center flex--justify-center">
                            <img loading="lazy" width="15" height="12" src="./img/icons/icon_arrow_right_black.svg" alt="Іконка посилання">
                        </a>
                    </div>

                    <div data-slide="4" class="section__products-carousel-slide flex flex--justify-center flex--align-center flex--column bg--black pt--28 pb--24 pl--28 pr--28 gap--22 hidden">
                        <span class="color--white font--secondary font--bold font--size-16 text--center">Аміакат Zn Каністри по 10 л, 20 л</span>

                        <div class="section__products-carousel-bg bg--green position--relative">
                            <div class="section__products-carousel-slide-img lazy-bg position--absolute" data-bg="./img/sections/section-products/slider-4/slide_4_4.webp"></div>
                        </div>

                        <a href="#" class="section__products-carousel-link bg--white grid grid--align-end flex--align-center flex--justify-center">
                            <img loading="lazy" width="15" height="12" src="./img/icons/icon_arrow_right_black.svg" alt="Іконка посилання">
                        </a>
                    </div>

                    <div data-slide="4" class="section__products-carousel-slide flex flex--justify-center flex--align-center flex--column bg--black pt--28 pb--24 pl--28 pr--28 gap--22 hidden">
                        <span data-slide-text="4" class="color--white font--secondary font--bold font--size-16 text--center">Аміакат Cu Каністри по 10 л, 20 л</span>

                        <div class="section__products-carousel-bg bg--green position--relative">
                            <div class="section__products-carousel-slide-img lazy-bg position--absolute" data-bg="./img/sections/section-products/slider-4/slide_4_5.webp"></div>
                        </div>

                        <a href="#" class="section__products-carousel-link bg--white grid grid--align-end flex--align-center flex--justify-center">
                            <img loading="lazy" width="15" height="12" src="./img/icons/icon_arrow_right_black.svg" alt="Іконка посилання">
                        </a>
                    </div>
                </div>
            </div>

            <button type="button" aria-label="Наступний слайд" class="section__products-carousel-nav section__products-carousel-nav--next bg--black position--absolute"></button>
        </div>
    </div>

    <div class="section__products-carousel-dots flex flex--align-center flex--justify-center gap--8"></div>

    <a href="#" class="grid">
        <span class="btn bg--green flex gap--10 pt--16 pb--16 pl--24 pr--24 font--size-12 font--bold font--secondary color--black text--uppercase flex flex--align-center flex--justify-center">
            <span>Всі продукти</span>

            <img loading="lazy" width="15" height="12" src="./img/icons/icon_arrow_right_black.svg" alt="Іконка кнопки читати далі">
        </span>
    </a>
</section>