<section class="main__hero position--relative grid gap--24">
    <h1 class="font--size-32 font--semi font--primary text--uppercase color--white">Інноваційні мінеральні добрива</h1>

    <p class="main__hero-text font--size-16 font--normal font--secondary color--white"><span class="font--bold">TopMinerals</span> створює передові рішення для покращення родючості ґрунтів, підвищення врожайності та збереження навколишнього середовища. Довіряйте експертам із багаторічним досвідом!</p>

    <div class="main__hero-img lazy-bg" data-bg="./img/sections/main/section-hero/image_hero.webp"></div>

    <a href="#" class="btn text--uppercase font--secondary bg--green font--bold font--size-12 color--black flex flex--align-center flex--justify-center pt--16 pb--16 pl--24 pr--24">Замовити консультацію</a>
</section>