<section class="main__partner position--relative grid gap--32">
    <header class="main__partner-container grid gap--24">
        <h2 class="main__partner-title font--size-18 font--semi font--primary text--uppercase color--white fade--in">TopMinerals – ваш надійний партнер у сфері мінеральних добрив.</h2>

        <p class="main__partner-text font--size-16 font--normal color--white font--secondary fade--in">Ми пропонуємо рішення, які не лише підвищують урожай, а й сприяють відновленню та збереженню природної родючості землі. Надійність, екологічність та інновації — основні цінності нашої компанії.</p>

        <a href="/TopMinerals/contacts.html" class="main__partner-btn-small grid hidden fade--in">
            <span class="btn btn--transparent flex gap--10 pt--16 pb--16 pl--24 pr--24 font--size-12 font--bold font--secondary color--white text--uppercase flex flex--align-center flex--justify-center">
                <span>Читати далі</span>

                <img loading="lazy" width="15" height="12" src="./img/icons/icon_arrow_right.svg" alt="Іконка кнопки детальніше">
            </span>
        </a>
    </header>

    <div class="main__partner-img lazy-bg" data-bg="./img/sections/main/section-partner/image_partner.webp"></div>

    <a href="/TopMinerals/about-us.html" class="main__partner-btn grid fade--in">
        <span class="btn btn--transparent flex gap--10 pt--16 pb--16 pl--24 pr--24 font--size-12 font--bold font--secondary color--white text--uppercase flex flex--align-center flex--justify-center">
            <span>Читати далі</span>

            <img loading="lazy" width="15" height="12" src="./img/icons/icon_arrow_right.svg" alt="Іконка кнопки читати далі">
        </span>
    </a>
</section>