<section class="grid gap--24">
    <header class="grid gap--32">
        <h2 class="color--white font--semi font--primary font--size-28 text--uppercase">Зв’яжіться з нами</h2>

        <p class="main__contact-text font--secondary font--size-16 font--normal color--white">Маєте запитання або хочете замовити продукцію? Ми завжди раді допомогти!</p>
    </header>

    <ul class="main__contact-list position--relative flex flex--column gap--8">
        <li class="flex flex--align-center gap--10">
            <figure class="main__contact-item bg--green flex flex--align-center flex--justify-center flex--no-shrink">
                <img alt="Телефон" height="11" loading="lazy" src="./img/icons/icon_phone.svg" width="12">
            </figure>

            <a class="color--light-grey font--size-16 font--normal font--secondary" href="tel:+380000000">+38 067 440 35 53</a>
        </li>

        <li class="flex flex--align-center gap--10">
            <figure class="main__contact-item bg--green flex flex--align-center flex--justify-center flex--no-shrink">
                <img alt="Електронна Пошта" height="8" loading="lazy" src="./img/icons/icon_mail.svg" width="10">
            </figure>

            <a class="color--light-grey font--size-16 font--normal font--secondary" href="mailto:office@topminerals.com.ua">office@topminerals.com.ua</a>
        </li>

        <li class="flex flex--align-center gap--10">
            <figure class="main__contact-item bg--green flex flex--align-center flex--justify-center flex--no-shrink">
                <img alt="Адреса" height="10" loading="lazy" src="./img/icons/icon_location.svg" width="8">
            </figure>

            <a class="color--light-grey font--size-16 font--normal font--secondary" href="https://www.google.com/maps?q=м.+Черкаси,+вул.+Смілянська,+23,+оф.+19" target="_blank">м. Черкаси, вул. Смілянська, 23, оф. 19</a>
        </li>
    </ul>

    <div class="main__contact-img lazy-bg" data-bg="./img/sections/main/section-contact/image_contact.webp"></div>

    <a href="/TopMinerals/contacts.html" class="grid">
        <span class="btn btn--transparent flex gap--10 pt--16 pb--16 pl--24 pr--24 font--size-12 font--bold font--secondary color--white text--uppercase flex flex--align-center flex--justify-center">
            <span>Детальніше</span>

            <img loading="lazy" width="15" height="12" src="./img/icons/icon_arrow_right.svg" alt="Іконка кнопки детальніше">
        </span>
    </a>
</section>