<section class="main__hero position--relative">
    <div class="main__hero-container grid gap--24">
        <h1 class="main__hero-title font--size-32 font--semi font--primary text--uppercase color--white fade--in">Інноваційні мінеральні добрива</h1>

        <p class="main__hero-text font--size-16 font--normal font--secondary color--white fade--in"><span class="font--bold">TopMinerals</span> створює передові рішення для покращення родючості ґрунтів, підвищення врожайності та збереження навколишнього середовища. Довіряйте експертам із багаторічним досвідом!</p>

        <div class="main__hero-img lazy-bg" data-bg="./img/sections/main/section-hero/image_hero.webp"></div>

        <a href="/TopMinerals/contacts.html" class="main__hero-btn btn text--uppercase font--secondary bg--green font--bold font--size-12 color--black flex flex--align-center flex--justify-center pt--16 pb--16 pl--24 pr--24 fade--in">Замовити консультацію</a>
    </div>

    <div class="main__hero-wrapper hidden">
        <div class="main__hero-bg lazy-bg hidden position--relative" data-bg="./img/sections/main/section-hero/image_hero.webp">
            <div class="main__hero-slider bg--grey position--absolute">
                <div class="main__hero-category-slider position--absolute m--auto">
                    <div class="main__hero-category-slider-track flex">
                        <div class="main__hero-category-slider-slide bg--black gap--4 flex flex--column flex--align-center flex--justify-center">
                            <figure class="main__hero-category-slider-slide-bg bg--green position--relative flex">
                                <img loading="lazy" width="140" height="100" class="main__hero-category-slider-slide-img position--absolute" src="./img/sections/main/section-hero/image_product_1.webp" alt="Рідкі комплексні добрива">
                            </figure>

                            <a href="#" class="main__hero-category-slider-slide-btn text--center font--secondary font--medium font--size-10 color--black pt--10 pb--10 bg--white">Рідкі комплексні добрива</a>
                        </div>

                        <div class="main__hero-category-slider-slide bg--black gap--4 flex flex--column flex--align-center flex--justify-center">
                            <figure class="main__hero-category-slider-slide-bg bg--green position--relative flex">
                                <img loading="lazy" width="140" height="100" class="main__hero-category-slider-slide-img position--absolute" src="./img/sections/main/section-hero/image_product_2.webp" alt="Мікродобрива кристалічні">
                            </figure>

                            <a href="#" class="main__hero-category-slider-slide-btn text--center font--secondary font--medium font--size-10 color--black pt--10 pb--10 bg--white">Мікродобрива кристалічні</a>
                        </div>

                        <div class="main__hero-category-slider-slide bg--black gap--4 flex flex--column flex--align-center flex--justify-center">
                            <figure class="main__hero-category-slider-slide-bg bg--green position--relative flex">
                                <img loading="lazy" width="140" height="100" class="main__hero-category-slider-slide-img position--absolute" src="./img/sections/main/section-hero/image_product_1.webp" alt="КАС">
                            </figure>

                            <a href="#" class="main__hero-category-slider-slide-btn text--center font--secondary font--medium font--size-10 color--black pt--10 pb--10 bg--white">КАС</a>
                        </div>

                        <div class="main__hero-category-slider-slide bg--black gap--4 flex flex--column flex--align-center flex--justify-center">
                            <figure class="main__hero-category-slider-slide-bg bg--green position--relative flex">
                                <img loading="lazy" width="140" height="100" class="main__hero-category-slider-slide-img position--absolute" src="./img/sections/main/section-hero/image_product_3.webp" alt="Рідкі комплексні мікродобрива">
                            </figure>

                            <a href="#" class="main__hero-category-slider-slide-btn text--center font--secondary font--medium font--size-10 color--black pt--10 pb--10 bg--white">Рідкі комплексні мікродобрива</a>
                        </div>

                        <div class="main__hero-category-slider-slide bg--black gap--4 flex flex--column flex--align-center flex--justify-center">
                            <figure class="main__hero-category-slider-slide-bg bg--green position--relative flex">
                                <img loading="lazy" width="140" height="100" class="main__hero-category-slider-slide-img position--absolute" src="./img/sections/main/section-hero/image_product_1.webp" alt="Грунтомодифікуючі добрива">
                            </figure>

                            <a href="#" class="main__hero-category-slider-slide-btn text--center font--secondary font--medium font--size-10 color--black pt--10 pb--10 bg--white">Грунтомодифікуючі добрива</a>
                        </div>
                    </div>

                    <div class="main__hero-category-slider-container bg--black gap--10 flex flex--align-center">
                        <button class="main__hero-category-slider-button main__hero-category-slider-button--prev disabled">
                            <figure class="main__hero-category-slider-nav flex flex--align-center flex--justify-center bg--green">
                                <img loading="lazy" width="10" height="13" class="main__hero-category-slider-img main__hero-category-slider-img-prev" src="./img/icons/icon_slider_btn.svg" alt="Іконка перелистування слайдеру вліво">
                            </figure>
                        </button>

                        <button class="main__hero-category-slider-button main__hero-category-slider-button--next">
                            <figure class="main__hero-category-slider-nav flex flex--align-center flex--justify-center bg--green">
                                <img loading="lazy" width="10" height="13" class="main__hero-category-slider-img main__hero-category-slider-img-next" src="./img/icons/icon_slider_btn.svg" alt="Іконка перелистування слайдеру вправо">
                            </figure>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>