<section class="section__partner position--relative grid gap--32">
    <header class="grid gap--24">
        <h2 class="font--size-18 font--semi font--primary text--uppercase color--white">TopMinerals – ваш надійний партнер у сфері мінеральних добрив.</h2>

        <p class="font--size-16 font--normal color--white font--secondary">Ми пропонуємо рішення, які не лише підвищують урожай, а й сприяють відновленню та збереженню природної родючості землі. Надійність, екологічність та інновації — основні цінності нашої компанії.</p>
    </header>

    <div class="section__partner-img lazy-bg" data-bg="./img/sections/section-partner/image_partner.webp"></div>

    <a href="#" class="grid">
        <span class="btn btn--transparent flex gap--10 pt--16 pb--16 pl--24 pr--24 font--size-12 font--bold font--secondary color--white text--uppercase flex flex--align-center flex--justify-center">
            <span>Читаті далі</span>

            <img loading="lazy" width="15" height="12" src="./img/icons/icon_arrow_right.svg" alt="Іконка кнопки читати далі">
        </span>
    </a>
</section>